*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:20px;

overflow:hidden;

font-family:Arial, sans-serif;

color:white;

background:
linear-gradient(
135deg,
#090014,
#21002f,
#500f45
);

}



.stars{

position:fixed;

inset:0;

background-image:
radial-gradient(
white 1px,
transparent 1px
);

background-size:45px 45px;

opacity:.2;

}



.container{

position:relative;

z-index:2;

width:100%;

max-width:380px;

padding:30px 20px;

text-align:center;

background:
rgba(255,255,255,0.08);

border-radius:25px;

border:
1px solid rgba(255,255,255,0.15);

backdrop-filter:blur(12px);

}



h3{

font-size:16px;

color:#ffb6d9;

margin-bottom:20px;

}



h1{

font-size:38px;

margin-bottom:20px;

}



p{

font-size:15px;

line-height:1.7;

}



.timer{

margin:25px 0;

padding:15px;

border-radius:15px;

background:
rgba(255,255,255,.08);

}



.timer h2{

font-size:20px;

margin-bottom:10px;

}



button{

width:100%;

padding:15px;

border:none;

border-radius:30px;

background:#ff4f93;

color:white;

font-size:16px;

}



button:active{

transform:scale(.97);

}



@media(max-width:400px){


h1{

font-size:30px;

}


.container{

padding:25px 15px;

}


}
