*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

height:100vh;

overflow:hidden;

position:relative;

display:flex;

justify-content:center;

align-items:center;

font-family:Arial, sans-serif;

color:white;

background:linear-gradient(
135deg,
#090b1f,
#24104f,
#6b1b50
);

}



body::before{

content:"";

position:absolute;

inset:0;

background-image:
radial-gradient(white 1px, transparent 1px);

background-size:40px 40px;

opacity:.25;

}



.container{

width:90%;

max-width:380px;

padding:35px;

text-align:center;

border-radius:25px;

background:rgba(255,255,255,0.1);

backdrop-filter:blur(15px);

border:1px solid rgba(255,255,255,.2);

position:relative;

z-index:5;

}



h3{

color:#ffb6d9;

margin-bottom:20px;

}



h1{

font-size:40px;

margin-bottom:20px;

}



p{

line-height:1.8;

margin-bottom:30px;

}



button{

padding:15px 30px;

border:none;

border-radius:50px;

background:#ff4f93;

color:white;

font-size:17px;

cursor:pointer;

position:relative;

z-index:10;

}



button:hover{

transform:scale(1.05);

}



/* Loading */


#loading-screen{

position:fixed;

inset:0;

background:#080818;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

z-index:100;

animation:hide 3s forwards;

}



#loading-screen h1{

color:#ff7ab8;

}



@keyframes hide{

0%{

opacity:1;

}

80%{

opacity:1;

}

100%{

opacity:0;

visibility:hidden;

}

}



/* Hearts */


.heart{

position:fixed;

bottom:-50px;

z-index:2;

pointer-events:none;

animation:heartMove linear forwards;

}



@keyframes heartMove{


0%{

transform:translateY(0);

opacity:1;

}


100%{

transform:translateY(-110vh);

opacity:0;

}


}
